@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background: #23074d;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cc5333, #23074d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cc5333, #23074d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#about {
    background: #C02425;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0CB35, #C02425);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#daysrem {
    background: #ff6e7f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bfe9ff, #ff6e7f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bfe9ff, #ff6e7f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}